.smallerinput {
    max-height: 10px;
    background-color: brown
}
h4 {
    text-align: center;
}
h5 {
    text-align: center;
    font-size: 15px;
}

.centerdiv {
    text-align: center;
}


/* added */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font: 100% 'Roboto', arial, sans-serif;
  background: $color-grey-light;
}

form {
  padding-top: 32px;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  background-color: #fff;
  border-radius: $radius;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

h1 {
  margin-top: 0;
  margin-bottom: 3.236rem;
  text-align: center;
  font-size: 1.618rem;
}



label {
  /* display: inline; */
  /* margin-bottom: .5rem; */
  font-size: 15px;
  /* text-transform: uppercase; */
  touch-action: manipulation;
  padding-left: 75px;
}

input,
textarea {
  /* display: block; */
  padding: .5rem .75rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $color-grey;
  border-left: 0;
  border-radius: $radius;
  @include transition;

}

textarea {
  resize: vertical;
}

.btn {
  display: inline-block;
  padding: .75rem 1rem;
  margin-top: 1.618rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  background-color: $color-primary;
  border: 1px solid transparent;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  cursor: pointer;
  user-select: none;
  @include transition;
  
  &:focus,
  &:hover {
    background-color: lighten($color-primary, 13%);
    box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
  }
  
  &:focus {
    outline: 0;
  }
}


.center {
    text-align: center;
    align-content: center;
    padding-left: 300px;
    text-indent: 50px;
    margin-left: 100px;
}
h6{
    font-size: 17px;
    padding-left: 15px;
}
.inline {
    /* display: inline; */
    font-size: 10px;
}
button.next:after {
  content: '';
}

div button[type=submit].next:before {
  content: '';
}









/* 
added!!! */




@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,500);
nav {
  background: #333;
  overflow: auto;
  padding: 10px;
  position: relative;
  z-index: 2;
}

nav h1 {
  color: #eee;
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  float: left;
}

nav h1>a {
  color: #3ab4a6;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all 200ms linear;
}

nav h1>a:hover {
  background: none;
  color: #C18055;
}

ul {
  text-align: center;
  float: right;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  color: #eee;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  transition: all 200ms linear;
}

nav a:hover,
nav#small a:hover {
  color: #C18055;
  background: lightgray;
}

nav#small {
  background: rgb(236, 236, 236);
  padding: 10px 10px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 2px #fff;
}

nav#small h1,
nav#small a {
  color: #333;
}

nav#small h1 {
  font-size: 38px;
}

nav#small h1>a {
  color: #C18055;
}

nav#small h1>a:hover {
  color: #3ab4a6;
}

div#content {
  height: 2200px;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/03/95/6f/03956fed74537b3d7b0858e9a814748d.jpg')repeat 0 0;
  opacity: 0.9;
}

div#content h2 {
  color: #fff;
  font-weight: bold;
  transform: rotate(-10deg);
  line-height: 60px;
  font-size: 48px;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 10%;
  bottom: 10%;
  text-shadow: 2px 2px 2px #333;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

div#content h2:before {
  display: inline-block;
  background: url('http://www.menoftheras.com/wp-content/gallery/test/arrow.png')no-repeat 0 0;
  background-size: cover;
  width: 239px;
  height: 200px;
  content: "";
  transform: rotate(-80deg);
  margin-bottom: 40px;
}

@media (max-width: 700px) {
  nav {
    padding: 20px;
  }
  nav h1 {
    display: block;
    float: none;
    text-align: center;
    padding: 20px;
  }
  nav ul {
    float: none;
    padding: 20px;
  }
  div#content h2 {
    width: 30%;
  }
  nav#small {
    padding: 20px;
  }
  nav#small ul {
    padding: 5px;
  }
  nav#small h1 {
    padding: 10px;
    font-size: 28px;
    margin-bottom: 5px;
  }
  nav#small a {
    font-weight: normal;
  }
}

h2 {
  text-align: center;
}


/* new new */
.pull-right{
  max-width: 10px;
}
p {
  padding-left: 15px;

}

form div button[type=submit]:before { 
  content: none;
}
form div button.previous:before {
  content: none;
}

/* //added */

